name: Create new release

on:
  workflow_dispatch:
    inputs:
      pre_release:
        type: boolean
        description: Pre-release?
        required: true
        default: true

permissions:
  contents: write

env:
  INTEGRATION_SLUG: stellantis_vehicles
  BRANCH_MASTER: master
  BRANCH_DEVELOP: develop
  BETA_PREFIX: beta

jobs:
  update-readme:
    uses: ./.github/workflows/update-readme.yml
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all commits and tags

      - name: Get tag name
        id: tag-name
        run: |          
          # Fetch all tags
          git fetch --tags
          
          # Fetch last tag
          last_tag=$(git describe --match "*" --abbrev=0 --tags $(git rev-list --tags --max-count=1) | sed 's/^v//')
          echo "Last tag: $last_tag"
          
          last_release=$(git describe --match "*" --exclude "*-beta*" --abbrev=0 --tags $(git rev-list --tags --max-count=1))
          echo "Last release: $last_release"
          
          current_year=$(date +%Y)
          current_month=$(date +%-m)

          if ${{ github.event.inputs.pre_release }}; then
          
            branch=${{ env.BRANCH_DEVELOP }}
          
            echo "Pre-release flow from $branch"
            
            if [[ "$last_tag" =~ ^$current_year.$current_month.[0-9]+-${{ env.BETA_PREFIX }}.[0-9]+$ ]]; then
              echo "Current month last pre-release: $last_tag"
              last_tag=${last_tag//"-${{ env.BETA_PREFIX }}"/}
              IFS='.' read -r release_major release_minor release_patch release_beta <<< "$last_tag"
              new_tag_path="$release_patch"
              new_tag_beta=$((release_beta + 1))
            elif [[ "$last_tag" =~ ^$current_year.$current_month.[0-9]+$ ]]; then
              echo "Current month last release: $last_tag"
              IFS='.' read -r release_major release_minor release_patch <<< "$last_tag"
              new_tag_path=$((release_patch + 1))
              new_tag_beta=1
            else
              echo "Current month first pre-release"
              IFS='.' read -r release_major release_minor release_patch <<< "$last_tag"
              new_tag_path=1
              new_tag_beta=1
            fi
          
            new_tag_name="$current_year.$current_month.$new_tag_path-${{ env.BETA_PREFIX }}.$new_tag_beta"
          
          else
          
            branch=${{ env.BRANCH_MASTER }}
          
            echo "Release flow from $branch"
            
            if [[ "$last_tag" =~ ^$current_year.$current_month.[0-9]+-${{ env.BETA_PREFIX }}.[0-9]+$ ]]; then
              echo "Current month last pre-release: $last_tag"
              last_tag=${last_tag//"-${{ env.BETA_PREFIX }}"/}
              IFS='.' read -r release_major release_minor release_patch release_beta <<< "$last_tag"
              new_tag_path="$release_patch"
            elif [[ "$last_tag" =~ ^$current_year.$current_month.[0-9]+$ ]]; then
              echo "Current month last release: $last_tag"
              IFS='.' read -r release_major release_minor release_patch <<< "$last_tag"
              new_tag_path=$((release_patch + 1))
            else
              echo "Current month first release"
              new_tag_path=1
            fi
            
            new_tag_name="$current_year.$current_month.$new_tag_path"
          
          fi
          
          echo "New tag: $new_tag_name"
          echo "is_prerelease=${{ github.event.inputs.pre_release }}" >> $GITHUB_OUTPUT
          echo "previous_tag_name=$last_release" >> $GITHUB_OUTPUT
          echo "new_tag_name=$new_tag_name" >> $GITHUB_OUTPUT
          echo "new_tag_branch=$branch" >> $GITHUB_OUTPUT

      - name: Update manifest.json
        uses: jossef/action-set-json-field@v2.1
        with:
          file: custom_components/${{ env.INTEGRATION_SLUG }}/manifest.json
          field: version
          value: ${{ steps.tag-name.outputs.new_tag_name }}

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Update manifest.json - ${{ steps.tag-name.outputs.new_tag_name }}"
          git tag ${{ steps.tag-name.outputs.new_tag_name }}

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true

      - name: Get support section
        id: support
        shell: bash
        run: |
          awk '
            /## Support the project/ {capture=1; next}
            /^## / && capture {capture=0}
            capture
          ' README.md > support_section.txt

          echo "section<<EOF" >> $GITHUB_OUTPUT
          cat support_section.txt >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Get release notes
        id: release-notes
        run: |
          changes=$(
            git log --no-merges --pretty=format:"%H %s [%an]" origin/${{ env.BRANCH_MASTER }}..origin/${{ env.BRANCH_DEVELOP }} | \
            grep -v "^.* Revert \"" | \
            grep -v "^.* Update manifest.json version to" | \
            grep -v '\.yaml' | \
            grep -v '\.json' | \
            grep -v '\.md' | \
            while read -r line; do
              hash=$(echo "$line" | cut -d' ' -f1)
              msg=$(git log -1 --pretty=%s "$hash")
              escaped_msg=$(echo "$msg" | sed 's/[[\]/\\&/g; s/\./\\./g; s/\*/\\*/g; s/\^/\\^/g; s/\$/\\$/g')
              if ! git log origin/${{ env.BRANCH_MASTER }}..origin/${{ env.BRANCH_DEVELOP }} --grep="$escaped_msg" --invert-grep --pretty=format:"%H" | grep -q "$hash"; then
                echo "- $(echo "$line" | cut -d' ' -f2-)"
              fi
            done
          )

          {
            echo "## What's Changed"
            if [ -n "$changes" ]; then
              echo "$changes"
              echo
              echo
            fi
            if ! ${{ steps.tag-name.outputs.is_prerelease }}; then
              echo "**Full Changelog**: https://github.com/${{ github.repository }}/compare/${{ steps.tag-name.outputs.previous_tag_name }}...${{ steps.tag-name.outputs.new_tag_name }}"
              echo
              echo
              echo "## Support the project"
              echo "${{ steps.support.outputs.section }}"
            fi
          } > notes.txt

          {
            echo "notes<<EOF"
            cat notes.txt
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Update master
        if: ${{ steps.tag-name.outputs.new_tag_branch == env.BRANCH_MASTER }}
        run: |
          git fetch
          git checkout ${{ env.BRANCH_DEVELOP }}
          git pull
          git checkout ${{ env.BRANCH_MASTER }}
          git pull
          git merge ${{ env.BRANCH_DEVELOP }} --strategy-option theirs
          git push

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ github.event.inputs.pre_release }}
          name: ${{ steps.tag-name.outputs.new_tag_name }}
          tag_name: ${{ steps.tag-name.outputs.new_tag_name }}
          target_commitish: ${{ steps.tag-name.outputs.new_tag_branch }}
          token: ${{ secrets.GITHUB_TOKEN }}
          generate_release_notes: false
          body: ${{ steps.release-notes.outputs.notes }}

      - name: "Create zip"
        run: |
          git fetch
          git checkout ${{ env.BRANCH_DEVELOP }}
          git pull
          cd "${{ github.workspace }}/custom_components/${{ env.INTEGRATION_SLUG }}"
          zip "${{ github.workspace }}/${{ env.INTEGRATION_SLUG }}.zip" -r ./

      - name: "Add zip to release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ steps.tag-name.outputs.new_tag_name }} "${{ github.workspace }}/${{ env.INTEGRATION_SLUG }}.zip"
